/*閲嶇疆鏍峰紡*/
::-moz-placeholder {
    color: #d5d5d5;
}

::-webkit-input-placeholder {
    color: #d5d5d5;
}

:-ms-input-placeholder {
    color: #d5d5d5;
}

input {
    font-size: inherit;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    input[type="submit"], input[type="button"] button {
        -webkit-appearance: none;
    }

html, body {
    width: 100%;
}

html, body, input {
    margin: 0;
    font-family: "Microsoft YaHei",arial,simsun,SimHei;
    color: #787878;
}

html, input, td {
    padding: 0;
}

ul, ol, dl, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

dd {
    margin-left: 0;
}

ul, ol {
    padding-left: 0;
}

input, img {
    border: 0;
}

input, label, a {
    -moz-tap-higlight-color: rgba(0,0,0,0);
    -webkit-tap-higlight-color: rgba(0,0,0,0);
    tap-higlight-color: rgba(0,0,0,0);
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.clearfix {
    display: block;
    zoom: 1;
}

    .clearfix:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.fl {
    float: left;
}

.fr {
    float: right;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, label, a, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.err_popo {
    position: fixed;
    z-index: 1000;
    top: 40%;
    left: 10%;
    width: 80%;
}

    .err_popo span {
        display: block;
        padding: .22rem 0.02rem;
        font-size: .22rem;
        color: #fff;
        background: rgba(0, 0, 0, .5);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
    }

/*鍔犺浇涓�*/
.loading {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3.75rem;
    width: 7.5rem;
    height: 100%;
    font-size: .36rem;
    color: #fff;
    text-align: center;
    line-height: 500px;
    background: rgba(0, 0, 0, .9);
    z-index: 10;
    display: block;
}

.root {
    position: relative;
    width: 7.5rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdec53;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 7.5rem 7.5rem;
    -moz-background-size: 7.5rem;
    -o-background-size: 7.5rem;
    background-size: 7.5rem;
    overflow: hidden;
}

/*鍙充笂瑙掓寜閽�*/
.button-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.55rem;
    padding-top: .2rem;
    font-size: 0;
    overflow: hidden;
    z-index: 5;
}

    .button-box > a {
        display: block;
        width: 2.5rem;
        padding: .18rem .3rem;
        font-size: .24rem;
        color: #ff1a6e;
        line-height: .24rem;
        background-color: #fff;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        border-radius: .6rem;
    }

        .button-box > a:first-child {
            margin-bottom: .2rem;
        }

/*骞挎挱*/
.broadcast {
    position: absolute;
    left: 1.05rem;
    top: 10.8rem;
    width: 5.4rem;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    z-index: 4;
}

    .broadcast > ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 0;
    }

        .broadcast > ul > li {
            height: 30px;
            font-size: 12px;
            text-align: center;
            color: #ff1a6e;
            line-height: 30px;
        }

/*鎻愮ず璇�*/
.ios-notice {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7.5rem;
    font-size: .2rem;
    color: #fff;
    text-align: center;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

/*妯℃€佹*/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 6;
    display: none;
}

/*鏅€氭ā鎬佹*/
.modal-box {
    position: absolute;
    top: 2rem;
    left: .4rem;
    width: 6.7rem;
    height: 9rem;
    background: url(../images/wap-modal-box-bg.png) center 0 no-repeat;
    -webkit-background-size: 6.7rem 6.7rem;
    -moz-background-size: 6.7rem;
    -o-background-size: 6.7rem;
    background-size: 6.7rem;
    z-index: 7;
    display: none;
}

    .modal-box h3 {
       width: 100%;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .4rem;
        color: #50484b;
        text-align: center;
        background-color: #fffffe;
        border-radius: 0.5rem;
    }

.modal-content {
    width: 6rem;
    height: 5.6rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.modal-box .close-btn,
.modal-intercept-box .close-btn {
    width: 1rem;
    height: 1rem;
    background: url(../images/wap-close-button-bg.png) center no-repeat;
    -webkit-background-size: .8rem .8rem;
    -moz-background-size: .8rem;
    -o-background-size: .8rem;
    background-size: .8rem;
    display: block;
}

.modal-box .close-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.5rem;
}

/*娲诲姩瑙勫垯*/
.modal-message-box {
    height: 5rem;
    padding: .6rem .2rem;
    display: none;
    overflow-y: scroll;
}

    .modal-message-box > p {
        font-size: .28rem;
        color: #323232;
        line-height: .48rem;
    }

/*鍗曚釜濂栧搧*/
.modal-single-prize-box {
    position: relative;
    width: 5.8rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    display: none;
}

    .modal-single-prize-box .single-prize {
        position: relative;
        width: 5.8rem;
        height: 3.5rem;
        -webkit-border-radius: .1rem;
        -moz-border-radius: .1rem;
        border-radius: .1rem;
        display: block;
        text-align: center;
    }

        .modal-single-prize-box .single-prize img {
            width: 100%;
            text-align: center;
            font-size: .32rem;
        }

    .modal-single-prize-box .get-prize-btn {
        display: block;
        width: 4.75rem;
        height: 1.1rem;
        margin-top: .3rem;
        margin-left: auto;
        margin-right: auto;
        font-size: .4rem;
        color: #fff;
        line-height: 1.1rem;
        text-align: center;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff172c), to(#ff1a70));
        background: -webkit-linear-gradient(#ff172c, #ff1a70);
        background: -moz-linear-gradient(#ff172c, #ff1a70);
        background: -o-linear-gradient(#ff172c, #ff1a70);
        background: linear-gradient(#ff172c, #ff1a70);
        -webkit-border-radius: 1.15rem;
        -moz-border-radius: 1.15rem;
        border-radius: 1.15rem;
    }

    .modal-single-prize-box .remain-notice {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: .32rem;
        color: #ff1a6d;
        text-align: center;
    }

/*鎵€鏈夊鍝�*/
.modal-all-prizes-box {
    position: relative;
    width: 5.8rem;
    height: 5.6rem;
    margin-top: .1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    z-index: 4;
    overflow-y: scroll;
    display: none;
}

    .modal-all-prizes-box > p {
        font-size: .32rem;
        color: #999;
        text-align: center;
        line-height: 3rem;
    }

    .modal-all-prizes-box .modal-prize-item {
        position: relative;
        display: block;
        width: 5.8rem;
        height: 1.3rem;
        margin-bottom: .2rem;
        background: -webkit-gradient(linear, left top, right top, from(#42afff), to(#4ad5ff));
        background: -webkit-linear-gradient(left, #42afff, #4ad5ff);
        background: -moz-linear-gradient(left, #42afff, #4ad5ff);
        background: -o-linear-gradient(left, #42afff, #4ad5ff);
        background: linear-gradient(to right, #42afff, #4ad5ff);
        -webkit-border-radius: .1rem;
        -moz-border-radius: .1rem;
        border-radius: .1rem;
    }

        .modal-all-prizes-box .modal-prize-item:after,
        .modal-all-prizes-box .modal-prize-item:before {
            position: absolute;
            top: 50%;
            margin-top: -.15rem;
            display: block;
            content: "";
            width: .3rem;
            height: .3rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #f9f9f9;
        }

        .modal-all-prizes-box .modal-prize-item:before {
            left: -.15rem;
        }

        .modal-all-prizes-box .modal-prize-item:after {
            right: -.15rem;
        }

        .modal-all-prizes-box .modal-prize-item:nth-child(4n+1) {
            background: -webkit-gradient(linear, left top, right top, from(#42afff), to(#4ad5ff));
            background: -webkit-linear-gradient(left, #42afff, #4ad5ff);
            background: -moz-linear-gradient(left, #42afff, #4ad5ff);
            background: -o-linear-gradient(left, #42afff, #4ad5ff);
            background: linear-gradient(to right, #42afff, #4ad5ff);
        }

        .modal-all-prizes-box .modal-prize-item:nth-child(4n+2) {
            background: -webkit-gradient(linear, left top, right top, from(#7b9aff), to(#f583fa));
            background: -webkit-linear-gradient(left, #7b9aff, #f583fa);
            background: -moz-linear-gradient(left, #7b9aff, #f583fa);
            background: -o-linear-gradient(left, #7b9aff, #f583fa);
            background: linear-gradient(to right, #7b9aff, #f583fa);
        }

        .modal-all-prizes-box .modal-prize-item:nth-child(4n+3) {
            background: -webkit-gradient(linear, left top, right top, from(#ff1f6a), to(#ffa374));
            background: -webkit-linear-gradient(left, #ff1f6a, #ffa374);
            background: -moz-linear-gradient(left, #ff1f6a, #ffa374);
            background: -o-linear-gradient(left, #ff1f6a, #ffa374);
            background: linear-gradient(to right, #ff1f6a, #ffa374);
        }

        .modal-all-prizes-box .modal-prize-item:nth-child(4n+4) {
            background: -webkit-gradient(linear, left top, right top, from(#01a762), to(#2bdb5e));
            background: -webkit-linear-gradient(left, #01a762, #2bdb5e);
            background: -moz-linear-gradient(left, #01a762, #2bdb5e);
            background: -o-linear-gradient(left, #01a762, #2bdb5e);
            background: linear-gradient(to right, #01a762, #2bdb5e);
        }

        .modal-all-prizes-box .modal-prize-item img {
            width: 100%;
            font-size: .32rem;
            text-align: center;
        }

.modal-box .ellipse-text,
.modal-box .snowman,
.light-beam .beam,
.modal-ribbon,
.modal-gold,
.more-draw-btn {
    position: absolute;
    background-image: url(../images/wap-modal-icons.png);
    -webkit-background-size: 11rem 11rem;
    -moz-background-size: 11rem;
    -o-background-size: 11rem;
    background-size: 11rem;
    background-repeat: no-repeat;
    display: none;
}

.more-draw-btn {
    display: block;
}

.modal-box .ellipse-text {
    width: 3.62rem;
    height: 2.67rem;
    left: .65rem;
    top: -1.5rem;
    background-position: right bottom;
}

.modal-box .snowman {
    width: 2.2rem;
    height: 2.7rem;
    right: .3rem;
    top: -1.4rem;
    background-position: right top;
}

/*閲戝竵*/
.modal-gold.left-top,
.modal-gold.right-bottom,
.modal-gold.one,
.modal-gold.two,
.modal-gold.three,
.modal-gold.four,
.modal-gold.five,
.modal-gold.six {
    top: 4rem;
    left: 2.8rem;
}

.modal-gold.one,
.modal-gold.two,
.modal-gold.three,
.modal-gold.four,
.modal-gold.five,
.modal-gold.six {
    top: .5rem;
    z-index: 4;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.modal-gold.left-top,
.modal-gold.one {
    width: 1.18rem;
    height: 1.08rem;
    background-position: 0 bottom;
}

.modal-gold.left-top {
    -webkit-transform: translate(-2.1rem, -3.05rem);
    -moz-transform: translate(-2.1rem, -3.05rem);
    -ms-transform: translate(-2.1rem, -3.05rem);
    -o-transform: translate(-2.1rem, -3.05rem);
    transform: translate(-2.1rem, -3.05rem);
    display: none;
}

.modal-gold.right-bottom,
.modal-gold.four {
    width: .75rem;
    height: .64rem;
    background-position: -5.05rem bottom;
    z-index: 5;
}

.modal-gold.right-bottom {
    -webkit-transform: translate(3rem, 2.6rem);
    -moz-transform: translate(3rem, 2.6rem);
    -ms-transform: translate(3rem, 2.6rem);
    -o-transform: translate(3rem, 2.6rem);
    transform: translate(3rem, 2.6rem);
    display: block;
}

.modal-gold.one {
    -webkit-animation-name: goldScatteredOne;
    -moz-animation-name: goldScatteredOne;
    -o-animation-name: goldScatteredOne;
    animation-name: goldScatteredOne;
}

.modal-gold.two {
    width: .97rem;
    height: .91rem;
    background-position: -1.99rem bottom;
    -webkit-animation-name: goldScatteredTwo;
    -moz-animation-name: goldScatteredTwo;
    -o-animation-name: goldScatteredTwo;
    animation-name: goldScatteredTwo;
}

.modal-gold.three {
    width: .81rem;
    height: .73rem;
    background-position: -3.6rem bottom;
    -webkit-animation-name: goldScatteredThree;
    -moz-animation-name: goldScatteredThree;
    -o-animation-name: goldScatteredThree;
    animation-name: goldScatteredThree;
}

.modal-gold.four {
    -webkit-animation-name: goldScatteredFour;
    -moz-animation-name: goldScatteredFour;
    -o-animation-name: goldScatteredFour;
    animation-name: goldScatteredFour;
}

.modal-gold.five {
    -webkit-animation-name: goldScatteredFive;
    -moz-animation-name: goldScatteredFive;
    -o-animation-name: goldScatteredFive;
    animation-name: goldScatteredFive;
}

.modal-gold.six {
    -webkit-animation-name: goldScatteredSix;
    -moz-animation-name: goldScatteredSix;
    -o-animation-name: goldScatteredSix;
    animation-name: goldScatteredSix;
}

.modal-gold.five,
.modal-gold.six {
    width: .54rem;
    height: .5rem;
    background-position: -6.8rem bottom;
}

/*褰╁甫*/
.modal-ribbon {
    top: .35rem;
    left: 50%;
    margin-left: -3.65rem;
    width: 7.3rem;
    height: 2.05rem;
    background-position: 0 0;
    -webkit-animation: ribbonScale .2s forwards;
    -moz-animation: ribbonScale .2s forwards;
    -o-animation: ribbonScale .2s forwards;
    animation: ribbonScale .2s forwards;
    z-index: 6;
    display: none;
}

/*鍏夋潫*/
.light-beam-box {
    position: absolute;
    top: 0;
    left: .15rem;
    width: 7.2rem;
    height: 7.2rem;
    z-index: 6;
    -webkit-animation: lightScale .2s forwards;
    -moz-animation: lightScale .2s forwards;
    -o-animation: lightScale .2s forwards;
    animation: lightScale .2s forwards;
    display: none;
}

.light-beam {
    width: 7.2rem;
    height: 7.2rem;
    -webkit-animation: lightRotate 4s linear infinite;
    -moz-animation: lightRotate 4s linear infinite;
    -o-animation: lightRotate 4s linear infinite;
    animation: lightRotate 4s linear infinite;
}

    .light-beam .beam {
        width: 4.1rem;
        height: .85rem;
        background-position: -.5rem -2.5rem;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        display: block;
    }

        .light-beam .beam.beam-1 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(0deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(0deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(0deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(0deg);
            transform: translate(3.6rem, 3.6rem) rotate(0deg);
        }

        .light-beam .beam.beam-2 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(30deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(30deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(30deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(30deg);
            transform: translate(3.6rem, 3.6rem) rotate(30deg);
        }

        .light-beam .beam.beam-3 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(60deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(60deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(60deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(60deg);
            transform: translate(3.6rem, 3.6rem) rotate(60deg);
        }

        .light-beam .beam.beam-4 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(90deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(90deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(90deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(90deg);
            transform: translate(3.6rem, 3.6rem) rotate(90deg);
        }

        .light-beam .beam.beam-5 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(120deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(120deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(120deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(120deg);
            transform: translate(3.6rem, 3.6rem) rotate(120deg);
        }

        .light-beam .beam.beam-6 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(150deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(150deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(150deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(150deg);
            transform: translate(3.6rem, 3.6rem) rotate(150deg);
        }

        .light-beam .beam.beam-7 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(180deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(180deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(180deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(180deg);
            transform: translate(3.6rem, 3.6rem) rotate(180deg);
        }

        .light-beam .beam.beam-8 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(210deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(210deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(210deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(210deg);
            transform: translate(3.6rem, 3.6rem) rotate(210deg);
        }

        .light-beam .beam.beam-9 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(240deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(240deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(240deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(240deg);
            transform: translate(3.6rem, 3.6rem) rotate(240deg);
        }

        .light-beam .beam.beam-10 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(270deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(270deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(270deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(270deg);
            transform: translate(3.6rem, 3.6rem) rotate(270deg);
        }

        .light-beam .beam.beam-11 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(300deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(300deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(300deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(300deg);
            transform: translate(3.6rem, 3.6rem) rotate(300deg);
        }

        .light-beam .beam.beam-12 {
            -webkit-transform: translate(3.6rem, 3.6rem) rotate(330deg);
            -moz-transform: translate(3.6rem, 3.6rem) rotate(330deg);
            -ms-transform: translate(3.6rem, 3.6rem) rotate(330deg);
            -o-transform: translate(3.6rem, 3.6rem) rotate(330deg);
            transform: translate(3.6rem, 3.6rem) rotate(330deg);
        }

/*鎷︽埅妯℃€佹*/
.modal-intercept-box {
    position: absolute;
    top: 1.4rem;
    left: .4rem;
    width: 6.7rem;
    z-index: 7;
    display: none;
}

    .modal-intercept-box.close-active {
        -webkit-animation: closeActive .5s forwards;
        -moz-animation: closeActive .5s forwards;
        -o-animation: closeActive .5s forwards;
        animation: closeActive .5s forwards;
    }

    .modal-intercept-box > p {
        font-size: .32rem;
        text-align: center;
        line-height: .32rem;
        color: #fff;
        padding-bottom: .15rem;
    }

    .modal-intercept-box > h2 {
        font-weight: bold;
        font-size: .48rem;
        color: #ffa625;
        text-align: center;
        line-height: .48rem;
        padding-bottom: .3rem;
        background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 233, 50, 1)), to(rgba(255, 105, 24, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .modal-intercept-box .lottery-product-box {
        width: 100%;
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;
    }

        .modal-intercept-box .lottery-product-box > a {
            display: block;
            width: 100%;
            height: 3.5rem;
            margin-bottom: .3rem;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform-origin: 50% 0;
            -moz-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
            -o-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-animation: imgRotate 1s forwards;
            -moz-animation: imgRotate 1s forwards;
            -o-animation: imgRotate 1s forwards;
            animation: imgRotate 1s forwards;
        }

            .modal-intercept-box .lottery-product-box > a > img {
                width: 100%;
            }

    .modal-intercept-box .close-btn {
        margin-left: auto;
        margin-right: auto;
    }

/*鏇村鎶藉鎸夐挳*/
.more-draw-btn {
    position: fixed;
    right: .4rem;
    bottom: .3rem;
    width: 1.05rem;
    height: 1.15rem;
    background-position: -5.7rem -3.8rem;
    z-index: 4;
}

/*鍏夋潫鏃嬭浆*/
@-webkit-keyframes lightRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes lightRotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes lightRotate {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lightRotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*鍏夐€熸斁澶х壒鏁�*/
@-webkit-keyframes lightScale {
    from {
        opacity: 0;
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes lightScale {
    from {
        opacity: 0;
        -moz-transform: scale(0, 0);
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes lightScale {
    from {
        opacity: 0;
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes lightScale {
    from {
        opacity: 0;
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

/*褰╁甫鏀惧ぇ*/
@-webkit-keyframes ribbonScale {
    0% {
        -webkit-transform: translate(0, .5rem) scale(0, 0);
        transform: translate(0, .5rem) scale(0, 0);
    }

    93%,97%,99% {
        -webkit-transform: translate(0, 0) scale(.9, .9);
        transform: translate(0, 0) scale(.9, .9);
    }

    90%,96%,98%,100% {
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
}

@-moz-keyframes ribbonScale {
    0% {
        -moz-transform: translate(0, .5rem) scale(0, 0);
        transform: translate(0, .5rem) scale(0, 0);
    }

    93%,97%,99% {
        -moz-transform: translate(0, 0) scale(.9, .9);
        transform: translate(0, 0) scale(.9, .9);
    }

    90%,96%,98%,100% {
        -moz-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
}

@-o-keyframes ribbonScale {
    0% {
        -o-transform: translate(0, .5rem) scale(0, 0);
        transform: translate(0, .5rem) scale(0, 0);
    }

    93%,97%,99% {
        -o-transform: translate(0, 0) scale(.9, .9);
        transform: translate(0, 0) scale(.9, .9);
    }

    90%,96%,98%,100% {
        -o-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes ribbonScale {
    0% {
        -webkit-transform: translate(0, .5rem) scale(0, 0);
        -moz-transform: translate(0, .5rem) scale(0, 0);
        -o-transform: translate(0, .5rem) scale(0, 0);
        transform: translate(0, .5rem) scale(0, 0);
    }

    93%,97%,99% {
        -webkit-transform: translate(0, 0) scale(.9, .9);
        -moz-transform: translate(0, 0) scale(.9, .9);
        -o-transform: translate(0, 0) scale(.9, .9);
        transform: translate(0, 0) scale(.9, .9);
    }

    90%,96%,98%,100% {
        -webkit-transform: translate(0, 0) scale(1, 1);
        -moz-transform: translate(0, 0) scale(1, 1);
        -o-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
}

/*閲戝竵鏁ｈ惤*/
@-webkit-keyframes goldScatteredOne {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredOne {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredOne {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes goldScatteredOne {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        -moz-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        -o-transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        transform: translate(-4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-webkit-keyframes goldScatteredTwo {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        transform: translate(4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredTwo {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        transform: translate(4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredTwo {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        transform: translate(4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes goldScatteredTwo {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        -moz-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        -o-transform: translate(4rem, -4rem) scale(1.2, 1.2);
        transform: translate(4rem, -4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-webkit-keyframes goldScatteredThree {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredThree {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredThree {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        opacity: 0;
    }
}

@keyframes goldScatteredThree {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        -moz-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        -o-transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        transform: translate(-5rem, 4rem) scale(1.5, 1.5);
        opacity: 0;
    }
}

@-webkit-keyframes goldScatteredFour {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        transform: translate(5rem, 4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredFour {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        transform: translate(5rem, 4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredFour {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        transform: translate(5rem, 4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes goldScatteredFour {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        -moz-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        -o-transform: translate(5rem, 4rem) scale(1.2, 1.2);
        transform: translate(5rem, 4rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-webkit-keyframes goldScatteredFive {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredFive {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredFive {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes goldScatteredFive {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        -moz-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        -o-transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        transform: translate(-2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-webkit-keyframes goldScatteredSix {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        transform: translate(2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-moz-keyframes goldScatteredSix {
    from {
        -moz-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -moz-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        transform: translate(2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes goldScatteredSix {
    from {
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -o-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        transform: translate(2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes goldScatteredSix {
    from {
        -webkit-transform: translate(0, 0) scale(0, 0);
        -moz-transform: translate(0, 0) scale(0, 0);
        -o-transform: translate(0, 0) scale(0, 0);
        transform: translate(0, 0) scale(0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        -moz-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        -o-transform: translate(2rem, 10rem) scale(1.2, 1.2);
        transform: translate(2rem, 10rem) scale(1.2, 1.2);
        opacity: 0;
    }
}

/*鍥剧墖缈昏浆*/
@-webkit-keyframes imgRotate {
    from {
        opacity: 0;
        -webkit-transform: rotateX(60deg);
        transform: rotateX(60deg);
        visibility: hidden;
    }

    to {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;
    }
}

@-moz-keyframes imgRotate {
    from {
        opacity: 0;
        -moz-transform: rotateX(60deg);
        transform: rotateX(60deg);
        visibility: hidden;
    }

    to {
        opacity: 1;
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;
    }
}

@-o-keyframes imgRotate {
    from {
        opacity: 0;
        transform: rotateX(60deg);
        visibility: hidden;
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
        visibility: visible;
    }
}

@keyframes imgRotate {
    from {
        opacity: 0;
        -webkit-transform: rotateX(60deg);
        -moz-transform: rotateX(60deg);
        transform: rotateX(60deg);
        visibility: hidden;
    }

    to {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;
    }
}

/*鎷︽埅寮圭獥娑堝け*/
@-webkit-keyframes closeActive {
    from {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(3rem, 6rem) scale(0, 0);
        transform: translate(3rem, 6rem) scale(0, 0);
    }
}

@-moz-keyframes closeActive {
    from {
        opacity: 1;
        -moz-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }

    to {
        opacity: 1;
        -moz-transform: translate(3rem, 6rem) scale(0, 0);
        transform: translate(3rem, 6rem) scale(0, 0);
    }
}

@-o-keyframes closeActive {
    from {
        opacity: 1;
        -o-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }

    to {
        opacity: 1;
        -o-transform: translate(3rem, 6rem) scale(0, 0);
        transform: translate(3rem, 6rem) scale(0, 0);
    }
}

@keyframes closeActive {
    from {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1, 1);
        -moz-transform: translate(0, 0) scale(1, 1);
        -o-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(3rem, 6rem) scale(0, 0);
        -moz-transform: translate(3rem, 6rem) scale(0, 0);
        -o-transform: translate(3rem, 6rem) scale(0, 0);
        transform: translate(3rem, 6rem) scale(0, 0);
    }
}